body{
    background-color: rgb(238, 224, 224 );
}
.hoja_cv{
    height: 1920px;
    width: 1080px;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 70px 3px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}
.cabecera{
    height: 300px;
    border: 3px solid black;
    padding: 10px;}
.icono{
    background-color: black;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    float: left;
}
.esqueleto{
    height: 100%;
    width: 100%;
}

.parrafo_izquierdo{
    height: 1596.2px;
    width: 50%;
    background-color: black;
}
.parrafo_derecho{
    height: 1596.2px;
    width: 50%;
    background-color: black;
}