body{
    background-image: url('Imagenes/Fondo\ negro\ 1.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
}

.hoja_cv{
    height: 1920px;
    width: 1080px;
    background-color: rgb(247, 242, 242 );
    margin: auto;
    box-shadow: 0px 0px 10px 3px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

.esqueleto{
    height: 100%;
    width: 100%;
}

/*-------------------------------------------------- Apartado con todo el contenido para poder hacer el Header ---------------------------------------------------------*/

header {
    height: 15%;
    display: flex; 
    align-items: center; 
}

.contenedor1 {
    display: flex; 
    align-items: center; 
    border-top: solid black 3px;
}

.div1 {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center; 
    float: left;
}

.div1 img {
    border-radius: 100%;
    width: 70%; 
    height: 80%; 
}

.div2 {
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    align-items: center;     
}
.div3 {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;   
    align-items: center;       
    flex-wrap: nowrap;
}

/*Apartado para las diferentes tipos de fuentes de texto del CV*/
.texto_general {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}
.texto_subtitulos{
    
}

/*Apartado para los la forma del Header*/
.cuadrado{
    background-color: rgb(41, 79, 13);
    align-items: center; 
    height: 70px;
    width: 100px;
}
.triangulo-abajo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 35px solid rgb(41, 79, 13);
}

/*-------------------------------------------------- Apartado con todo el contenido para poder hacer el Cuerpo ---------------------------------------------------------*/

.cuerpo{
    display: flex;
    height: 80%;
    width: 100%;
}
.columna1{
    height: 100%;
    width: 50%;        
}
.columna2{
    height: 100%;
    width: 50%;
}

.titulo_articulo{
    height: 90px;
    width: 100%;
    border-bottom: solid black 3px;
}

/*-------------------------------------------------- Apartado con todo el contenido para poder hacer el Footer ---------------------------------------------------------*/

footer{
    height: 5%;
    width: 100%;
    background-color: pink;
}