body{
    background-image: url('Imagenes/Fondo\ negro\ 1.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed; 
}

.hoja_cv{
    height: 1920px;
    width: 1080px;
    background-color: rgb(247, 242, 242 );
    margin: auto;
    box-shadow: 0px 0px 10px 3px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
}

header {
    height: 250px;
    display: flex; 
    align-items: center; 
}

.esqueleto{
    height: 100%;
    width: 100%;
}

.contenedor1 {
    display: flex; 
    align-items: center; 
    border-top: solid black 3px;
}

.div1 {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;
    align-items: center; 
    float: left;
}

.div1 img {
    border-radius: 100%;
    width: 70%; 
    height: 80%; 
    object-fit: cover; /* Asegura que la imagen cubra todo el div sin distorsionarse, y recortará la imagen si es necesario */
}

.div2 {
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;  /* Apila los elementos verticalmente */
    align-items: center;     
}
.div3 {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: center;   
    align-items: center;       
    flex-wrap: nowrap;
}

/*Apartado para las diferentes tipos de fuentes de texto del CV*/
.texto_general {
    font-family: "Barlow Condensed", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

/*Apartado para los la forma del Header (FALTA INSERTAR UN DIBUJO EN MEDIO DEL CUADRADO)*/
.cuadrado{
    background-color: rgb(41, 79, 13);
    align-items: center; 
    height: 70px;
    width: 100px;
}
.triangulo-abajo {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 35px solid rgb(41, 79, 13);
}
